// =============================================================================
// SCSS/SITE/STACKS/RENEW/RESP/_MIDDLE-BEAR.SCSS
// -----------------------------------------------------------------------------
// Stack specific responsive styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Breakpoint: middle-bear (Up to Portrait Tablet)
// =============================================================================

// Breakpoint: middle-bear (Up to Portrait Tablet)
// =============================================================================

// @include break(middle-bear) {

// }