// =============================================================================
// SCSS/SITE/STACKS/ICON/RESP/_OLD-BEAR.SCSS
// -----------------------------------------------------------------------------
// Stack specific responsive styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Breakpoint: old-bear (Portrait Tablet to Default Desktop)
// =============================================================================

// Breakpoint: old-bear (Portrait Tablet to Default Desktop)
// =============================================================================

// @include break(old-bear) {

// }