// =============================================================================
// SCSS/SITE/STACKS/RENEW/_SCAFFOLDING.SCSS
// -----------------------------------------------------------------------------
// Set base styles for <body> and links.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Site Wrap
//   02. Body Reset
//   03. Grid Container
//   04. Links
// =============================================================================

// Site Wrap
// =============================================================================

.site {
  margin: 0 auto;
  background-color: $baseModBackground;
  @include clearfix();
}



// Body Reset
// =============================================================================

body {
  margin: 0;
  overflow-x: hidden;
  line-height: $baseLineHeight;
}



// Grid Container
// =============================================================================

.x-container {
  &.offset {
    margin: 2.75em auto;
    @include break(middle-bear) {
      margin: 2em auto;
    }
  }
}



// Links
// =============================================================================

a {
  text-decoration: none;
  @include transition($linkTransitions);
}